<!DOCTYPE html>
<meta charset="utf-8">
<title>rnweb</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>*{font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;}</style>
<div id="businesspartner-app"></div>
<script src="/static/bundle.js"></script>